<mat-dialog-content>
    <div class="modal-title">
        <h1>Mascota encontrada</h1>
    </div>
    <div class="modal-text">
        <h1>Detalles</h1>
        <div class="modal-detail">
            <ul>
                <li>
                    <strong>Ubicacion</strong>
                    <span>Barrio tricentenario, cra63a #94-339</span>
                </li>
                <li>
                    <strong>Fecha</strong>
                    <span>12/2/2023</span>
                </li>
                <li class="description">
                    <strong>Nota</strong>
                    <span class="note">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
                        praesentium fuga similique quidem, accusamus non soluta facere nobis omnis perferendis tempora
                        ea alias sunt dolorem cum ipsum asperiores facilis! Rem?</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-img">
        <img src="assets/images/Dogs-and-humans.jpg" alt="pet">
    </div>
    <div class="button-modal">
        <button class="bg-[#a6c1ee] text-white px-5 py-2  hover:bg-[#87acec]">Es mi mascota</button>
        <button class="bg-[#a6c1ee] text-white px-5 py-2  hover:bg-[#87acec]">Cancelar</button>
    </div>