mat-dialog-content {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    grid-template-areas: 'modal-title modal-title'
        'modal-text modal-img'
        'button-modal button-modal';
    max-height: 550px;
    align-items: center;
}

.modal-title {
    grid-area: modal-title;
    text-align: center;
}

.modal-text {
    grid-area: modal-text;
}

.modal-img {
    grid-area: modal-img;

    img {
        border-radius: 10px;
        width: auto;
    }
}

.button-modal {
    grid-area: button-modal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    button {
        margin: 0 10px;
        height: 90%;
        border-radius: 10px;
    }
}

.modal-detail ul {
    list-style: none;
}

.modal-detail ul li {
    margin: 12px 0;
    display: flex;
}

.modal-detail ul li strong {
    font-family: "Space Mono", Arial, serif;
    color: #4d4d4ddb;
    width: 73px;
}

.modal-detail ul li span {
    display: block;
    width: 290px;
}

@media screen and (max-width:900px) {
    ::ng-deep {
        .cdk-overlay-pane {
            max-width: 100vw !important;
            height: 100vh !important;
            width: 100%;
            min-width: 450px;
        }

        .mat-dialog-container {
            padding: 0 !important;
            display: grid;
            transform: none;
            align-items: center;
        }
    }

    .mat-dialog-content {
        padding: 0 5px;
        max-height: 100%;
        margin: 0;
        justify-content: center;
        grid-template-areas: 'modal-title modal-title'
            'modal-text modal-text'
            'modal-img modal-img'
            'button-modal button-modal';
    }

    .modal-img {
        display: flex;
        justify-content: center;

        img {
            max-width: 460px;
            width: 100%;
        }
    }

    .modal-text {
        display: grid;
        justify-content: center;
    }

}

@media screen and (max-width:450px) {
    .modal-img {
        img {
            max-width: 460px;
            width: 80%;
        }
    }

    .modal-detail ul li {
        margin: 0;
        display: block;
    }
}