.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    color: #333;
    cursor: pointer;
}

.modal-title {
    font-size: 20px;
    margin: 20px 20px;
}

.auth-button {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
    border: 2px solid #333;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.auth-button:hover {
    background-color: #e0e0e0;
    border-color: #666;
    cursor: pointer;
}

.modal-text {
    margin-top: 20px;
}

.modal-text a {
    color: #333;
    text-decoration: underline;
}