<div class="">
    <div class="home-content">
        <div class="divHomeIzq">
            <div class="text-home">
                <h1>
                    Estamos aqui para ayudarte a ubicar tu perrito, no te preocupes.
                </h1>
            </div>
            <div class="button-home">
                <button class="bg-[#a6c1ee] text-white px-5 py-2  hover:bg-[#87acec]">Encontre</button>
                <button class="bg-[#a6c1ee] text-white px-5 py-2  hover:bg-[#87acec]">Buscar</button>
            </div>
        </div>
        <div class="image-dogs"><img src="assets/images/Dogs-and-humans.jpg" alt=""></div>
        <div class="slide-home">
            <app-recently-lost></app-recently-lost>
        </div>
    </div>
</div>