<section class="bg-gray-50 min-h-screen flex items-center justify-center">
    <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5 items-center">
        <div class="md:w-1/2 px-8 md:px-16">
            <h2 class="font-bold text-2xl text-[#002D74]">Crear cuenta</h2>
            <p class="text-xs mt-4 text-[#002D74]">Registra tu cuenta con Google</p>

            <form action="" class="flex flex-col gap-4">
                <input class="p-2 mt-8 rounded-xl border" type="text" name="nombre" placeholder="Nombre">
                <input class="p-2 mt-2 rounded-xl border" type="text" name="apellido" placeholder="Apellido">
                <input class="p-2 mt-2 rounded-xl border" type="email" name="email" placeholder="Correo electrónico">
                <div class="relative">
                    <input class="p-2 rounded-xl border w-full" type="password" name="contraseña"
                        placeholder="Contraseña">
                    <img class="absolute top-1/2 right-3 -translate-y-1/2" src="assets/images/eye.svg" alt="eye">
                </div>
                <button
                    class="bg-[#002D74] rounded-xl text-white py-2 hover:scale-105 duration-300">Registrarse</button>
            </form>

            <div class="mt-6 grid grid-cols-3 items-center text-gray-400">
                <hr class="border-gray-400">
                <p class="text-center text-sm">O</p>
                <hr class="border-gray-400">
            </div>

            <button
                class="bg-white border py-2 w-full rounded-xl mt-5 flex justify-center items-center text-sm hover:scale-105 duration-300 text-[#002D74]">
                <img src="assets/images/google-icon.svg" alt="google">
                Registrarse con Google
            </button>

            <div class="mt-5 text-xs border-b border-[#002D74] py-4 text-[#002D74]">
                <a routerLink="/login">¿Ya tienes una cuenta?</a>
            </div>
        </div>
        <div class="md:block hidden w-1/2">
            <img class="rounded-2xl" src="assets/images/dalamation.jpg">
        </div>
    </div>
</section>