<li class="nav-item dropdown d-flex">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img class="img-profile" src="../../../assets/images/huella.svg" alt="">
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="profile-name"><img src="../../../assets/images/huella.svg" alt=""><span>Lucy</span>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Configurar cuenta</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Politica de privacidad</a></li>
        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
    </ul>
</li>