<div class="navbar">
    <div class="profile-menu">
        <button class="profile-button" (click)="toggleMenu()">
            <img src="assets/images/perfil.png" alt="Perfil" class="profile-icon">
        </button>
        <div class="profile-dropdown" [class.open]="isMenuOpen" id="profile-dropdown">
            <ul class="profile-options">
                <li>
                    <a routerLink="/no-found">
                        <i class="material-icons">person</i>
                        <span>Perfil</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/no-found">
                        <i class="material-icons">settings</i>
                        <span>Configuración</span>
                    </a>
                </li>
                <li>
                    <a href="/login" (click)="logOut()">
                        <i class="material-icons">logout</i>
                        <span>Cerrar sesión</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>