<div class="container">
    <div class="card" (click)="openDetail()">
        <img src="assets/images/Dogs-and-humans.jpg">
        <div class="text-card">
            <h4>Encontrado</h4>
            <p>hace una hora</p>
        </div>
    </div>
    <div class="card" (click)="openDetail()">
        <img src="assets/images/Dogs-and-humans.jpg">
        <div class="text-card">
            <h4>Encontrado</h4>
            <p>hace una hora</p>
        </div>
    </div>
    <div class="card" (click)="openDetail()">
        <img src="assets/images/Dogs-and-humans.jpg">
        <div class="text-card">
            <h4>Encontrado</h4>
            <p>hace una hora</p>
        </div>
    </div>
    <div class="card" (click)="openDetail()">
        <img src="assets/images/Dogs-and-humans.jpg">
        <div class="text-card">
            <h4>Encontrado</h4>
            <p>hace una hora</p>
        </div>
    </div>
    <div class="card" (click)="openDetail()">
        <img src="assets/images/Dogs-and-humans.jpg">
        <div class="text-card">
            <h4>Encontrado</h4>
            <p>hace una hora</p>
        </div>
    </div>
    <div class="card" (click)="openDetail()">
        <img src="assets/images/Dogs-and-humans.jpg">
        <div class="text-card">
            <h4>Encontrado</h4>
            <p>hace una hora</p>
        </div>
    </div>
</div>