<div class="container">
    <div class="container">
        <div *ngFor="let pet of imagesPet" class="card" (click)="openDetail(pet)">
            <img [src]="pet.PetImage">
            <div class="text-card">
                <h4>{{estado}}</h4>
                <p>hace una hora</p>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="container">
    <div *ngFor="let pet of imagesPet" class="card" (click)="openDetail()">
        <img [src]="pet.PetImage">
        <div class="text-card">
            <h4>Se busca</h4>
            <p>hace una hora</p>
        </div>
    </div>
</div> -->