<section>
    <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5 items-center">
        <div class="md:w-1/2 px-8 md:px-16">
            <h2 class="font-bold text-2xl text-[#002D74]">Confirmar correo electrónico</h2>

            <form [formGroup]="confirmEmailForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
                <input class="p-2 mt-8 rounded-xl border" type="email" formControlName="email"
                    placeholder="Correo electrónico">
                <input class="p-2 mt-2 rounded-xl border" type="text" formControlName="verificationCode"
                    placeholder="Código de verificación">

                <button type="submit"
                    class="bg-[#002D74] rounded-xl text-white py-2 hover:scale-105 duration-300">Confirmar</button>
            </form>
        </div>
        <div class="md:block hidden w-1/2">
            <img class="rounded-2xl" src="assets/images/dalamation.jpg">
        </div>
    </div>
</section>