.container-lost {
    margin: 20px;
    // border: 1px solid rgba(0, 0, 0, 0.61);
    // border-radius: 10px;
}

h1 {
    line-height: normal;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}

.see-more {
    text-align: center;
}