<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a routerLink="/home">
                    <img src="assets/images/huella.svg" alt="Logo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Encuentra a tus mascotas perdidas con PupFinder, la app que utiliza inteligencia artificial para agilizar
                la búsqueda. Registra los detalles de tu mascota y recibe alertas personalizadas compartidas con nuestra
                comunidad. Nuestro sistema de reconocimiento de imágenes facilita la identificación. Únete a nuestra
                comunidad comprometida con el bienestar de las mascotas.</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#"><img src="assets/images/facebook.svg" alt=""></a>
                <a href="#"><img src="assets/images/instagram.png" alt=""></a>
                <a href="#"><img src="assets/images/twitter.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>PupFinder</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>