.container-found {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    grid-template-areas: 'title'
        'form-content';
    padding: 30px;
}

.title {
    grid-area: title;
    display: flex;
    justify-content: center;

    h1 {
        width: 50%;
        text-align: center;
        line-height: normal;
        font-size: 28px;
        text-align: center;
        font-weight: 400;
        margin: 0 0 16px;
    }
}

.form-content {
    grid-area: form-content;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    grid-template-areas: 'image-upload'
        'container-input';
}

.image-upload {
    grid-area: image-upload;
}

.container-input {
    grid-area: container-input;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 60px;

    .div-input {
        width: 50%;
    }
}

@media (max-width: 850px) {

    .title {
        text-align: center;

        h1 {
            width: 100%;
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }

    .div-input {
        width: 100% !important;
    }

    .container-input {
        margin-top: 10px;
    }

}